# Envio Indexer Config
# Day 5: TODO - 配置你的索引器

# 提示: 你需要配置:
# 1. 网络信息 (Monad Testnet/Anvil)
# 2. 合约地址
# 3. 需要监听的事件 (MarginDeposited, TradeExecuted, etc.)
name: monad-exchange-indexer
description: Indexer for Monad Perpetual Exchange events

field_selection:
  transaction_fields:
    - hash

contracts:
  - name: Exchange
    handler: src/EventHandlers.ts
    events:
      - event: MarginDeposited(address indexed trader, uint256 amount)
      - event: MarginWithdrawn(address indexed trader, uint256 amount)
      - event: OrderPlaced(uint256 indexed id, address indexed trader, bool isBuy, uint256 price, uint256 amount)
      - event: OrderRemoved(uint256 indexed id)

networks:
  - id: 31337  # Anvil local network
    start_block: 0
    rpc_config:
      url: http://127.0.0.1:8545
    contracts:
      - name: Exchange
        address:
          - 0x84169a2577cd709258c0862afd0fc87a24b1a4e3